<div class="d-flex justify-content-between align-items-center">
    <h2>Criação de Usuário</h2>
    <h4><a href= "/users"><i class="bi bi-arrow-left-square"></i> </a></h4>
</div>
<form action "/users/{{#if user}}update/{{user.id}}{{else}}/create{{/if}}" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nome Usuário</label>
        <input 
            value = "{{user.name}}"
            type="text" 
            id="name" 
            name="name" 
            class="form-control" 
            required><br><br>

        <label for="email" class="form-label">Email:</label>
        <input 
            type="email" 
            value = "{{user.email}}"
            id="email" 
            name="email" 
            class="form-control" 
            required><br><br>

        <label for="password" class="form-label">Password:</label>
        <input 
            value = "{{user.password}}"
            type="password" 
            id="password" 
            name="password" 
            class="form-control" 
            required><br><br>

        <label for="majorId">Select Major:</label>
        <select id="majorId" name="majorId" class="form-select" required>
            {{#each majors}}
                <option value="{{this.id}}">{{this.name}} ({{this.code}})</option>
            {{/each}}
        </select><br><br>

        <button type="submit" class="btn btn-primary">Create User</button>
    </div>
</form>